@model PAWFETNEW.Models.Tbl_Donation

@{
    ViewBag.Title = "DoantionDetails";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<style>
    p, h2 {
        font-family: 'Times New Roman';
        font-size: x-large;
        color: white;
        text-align: justify;
    }

    h2 {
        font-size: 40px;
    }

    body {
        background-color: #99B8A6;
        background-image: url('../../Models/bg/142071orig.jpg');
    }
</style>

<div>


    <center>
        <p>
            <h2 style=""><center>Donation Details</center></h2>
        </p>
        <p><b>Donor name </b> @Html.DisplayFor(model => model.Donor_Name)</p>

        <p><b>Amount </b>   @Html.DisplayFor(model => model.Donation_Amount)</p>
        <p><b> Address:</b>   @Html.DisplayFor(model => model.DonorAddress)</p>

        <p><b>conatct number:</b>     @Html.DisplayFor(model => model.ContactNo)</p>
        <p><b> Date </b>        @Html.DisplayFor(model => model.donation_date)</p>
    </center>
</div>
<p>

    @Html.ActionLink("Back to List", "DonationList")
</p>
