@model PAWFETNEW.Models.Tbl_Pets

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<body style="background-color:#99B8A6;">
    <h1 style="color:crimson;font-family:cursive">Edit</h1>

    @using (Html.BeginForm("Edit", "pets", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PetID)

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Pet_Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pet_Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pet_Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Pet_Breed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pet_Breed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pet_Breed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Weights, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Weights, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weights, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Colour, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Colour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.Pet_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pet_Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pet_Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                @Html.LabelFor(model => model.img_location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="ImageUpload" />
                </div>
            </div>

            <div class="form-group" style="align-content:center;font-size:x-large;font-family:cursive;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-default" style="
    background-color:ivory;font-size:large" />
                </div>
            </div>
        </div>
    }
    <div>
        <input type="button" style="font-size:large;background-color:ivory;position:relative;left:800px;bottom:50px" id="add" value="Back to List"
               onclick="@("window.location.href='" + @Url.Action("List", "Pets") + "'");" />

    </div>

</body>
